<!-- diseño web -->
<div id="app" class="relative h-screen p-2 gap-2" *ngIf="!isMobile">

  <app-nav class="[grid-area:nav]" />

  <app-aside class="[grid-area:aside] bg-[var(--color-bg-gray)] rounded-md overflow-y-auto" />

  <main class="[grid-area:main] bg-[var(--color-bg-gray)] rounded-md overflow-y-auto">

    <router-outlet />

  </main>

  <app-footer class="[grid-area:player]" />

</div>

<!-- diseño movile -->
<div id="appMovile" class="flex flex-col w-screen h-screen" *ngIf="isMobile">

  <app-movile-home />

</div>