<section id="home" class="relative flex flex-col gap-2 h-full overflow-auto">

  <div class="absolute w-full h-full z-0 opacity-40" [style]="'background: linear-gradient('+backgroundColor+' 0% , transparent 50%);'"></div>

  <!-- botones de filtro -->
  <div class="flex gap-3 py-3 px-8 z-1">
    <button
      class="group flex gap-1 items-center text-sm py-1.5 px-3 rounded-3xl bg-white text-black hover:bg-gray-200 active:bg-gray-300 hover:cursor-pointer">
      Todo
    </button>
    <button
      class="group flex gap-1 items-center text-sm py-1.5 px-3 rounded-3xl bg-[var(--color-btn-gray)] hover:bg-[var(--color-btn-gray-hover)] active:bg-[var(--color-btn-gray-active)] hover:cursor-pointer">
      Musica
    </button>
    <button
      class="group flex gap-1 items-center text-sm py-1.5 px-3 rounded-3xl bg-[var(--color-btn-gray)] hover:bg-[var(--color-btn-gray-hover)] active:bg-[var(--color-btn-gray-active)] hover:cursor-pointer">
      Listas
    </button>
  </div>

  <!-- listados -->
  <div class="flex flex-col gap-3 py-2 pl-8 pr-4  z-1">

    <!-- row cards sidebar-->
    <div class="grid w-full gap-2 grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mb-6">
      <app-row-card *ngFor="let playList of thisIsPlayLists" [playList]="playList" (mouseenter)="changeBackground(playList.color.accent)"/>
    </div>

    <!-- col cards playlists -->
    <div>
      <h1 class="text-2xl font-bold">Tus mixs personales</h1>
      <div class="flex w-full flex-wrap">
        <app-col-card *ngFor="let playList of mixPlayLists" [playList]="playList" />
      </div>
    </div>

  </div>

</section>