<nav class="h-10 flex justify-between items-center p-2">
  <div class="flex gap-4">
    <a href="#" class="h-6 text-[var(--color-btn-gray)] hover:text-[var(--color-btn-gray-active)]">
      <icon-svg [name]="'three-dots'" class="h-full w-auto" />
    </a>
    <a href="#" class="h-6 text-[var(--color-btn-gray)] hover:text-[var(--color-btn-gray-active)]">
      <icon-svg [name]="'arrow-left'" class="h-full w-auto" />
    </a>
    <a href="#" class="h-6 text-[var(--color-btn-gray)] hover:text-[var(--color-btn-gray-active)]">
      <icon-svg [name]="'arrow-right'" class="h-full w-auto" />
    </a>
  </div>
  <div class="relative">
    <input [(ngModel)]="inputSearch" type="text" class="bg-[var(--color-btn-gray-hover)] w-[400px] h-10 rounded-l-3xl rounded-r-3xl px-10 font-light" placeholder="¿Qué quieres escuchar?">
    <span class="absolute left-2 top-2">
      <icon-svg [name]="'search'" class="h-full w-auto" />
    </span>
    <button class="absolute right-3 top-2.5 h-5 text-[var(--color-btn-active)] hover:text-white hover:cursor-pointer" *ngIf="inputSearch !== ''" (click)="clearInput()">
      <icon-svg [name]="'close'" class="h-full w-auto" />
    </button>
  </div>
  <div>cuenta, botones</div>
</nav>