#timeRange {
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(to right, var(--color-base-green) 0%, var(--color-base-green) var(--progress, 0%), var(--color-btn-gray) var(--progress, 0%), var(--color-btn-gray) 100%);
  cursor: pointer;
  width: 70vw;
  height: 4.5px;
  border-radius: 5px;
}

#timeRange:hover::-webkit-slider-thumb {
  background-color: white;
}

#timeRange:focus {
  outline: none;
}

/* slider track */
#timeRange::-webkit-slider-runnable-track {
  background: transparent;
  height: 4px;
  border-radius: 5px;
}

/* slider thumb */
#timeRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -2.5px;
  background-color: transparent;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  border: none;
}