/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

:root {
  --color-base-green: #1DB954;
  --color-text-gray: #B3B3B3;
  --color-bg-black: #000000;
  --color-bg-gray: #121212;
  --color-btn-gray: #2A2A2A;
  --color-btn-gray-hover: #333333;
  --color-btn-gray-active: #444444;
}

html {
  font-family: "CircularStd", system-ui, sans-serif;
  background: var(--color-bg-black);
  color: white;
}

@layer base {
  * {
    scrollbar-color: var(--color-text-gray) var(--color-bg-gray);
    scrollbar-width: thin;
    border-radius: 3px;
  }
}

@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}